*{
  margin: 0;
}

body{
  background-color: lightgray;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.link{
  color: black; 
  font-weight: normal;
}

.link:hover{
  text-decoration: underline;
}