.Socials_Container {
  margin: 32px;
  width: 90%;
  display: inline-block;
}

.Icon_Instagram {
  font-size: 32px;
  color: black;
}

.Socials_Container a {
  text-decoration: none;
  color: black;
  font-size: 37px;
}